/* Enter your custom styles here */
.customPinkPage {
    background-color: #FFFAFA; /* Light pink color */
    height: 100%; 
}

.footerWrapperEnch {
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    background: #051551;
    padding: 12px 1rem;
    box-sizing: content-box;
}

.footerImgContentEnch {
    height: 3rem;
    width: 6rem;
    padding: 5px;
    box-sizing: border-box;
}

.footerImgContentEnch>img {
    position: relative;
    margin: auto;
}

.footerImgContentEnch>img {
    height: 2.45rem;
}

.sapMLnk:visited {
    color: #fdfeff;
}

.footerTextEnch bdi {
    color: #FFFFFF !important;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 100;
}

.footerLinksWrapper {
    /* align-self: flex-end; */
    position: relative;
    top: 5px;
}

.footerLinkEnch {
    font-size: 0.95rem;
    color: #ffffff;
    padding: 0px 0.5rem;
    margin: 5px 1rem;
    font-weight: 300;
    text-shadow: none !important;
}

.footerLinkEnch:hover {
    color: #ffffff !important;
    text-decoration: none !important;
    font-weight: 500;
}

.footerToolbarEnch {
    padding: 0px !important;
    height: 3rem !important;
}

.footerLinkEnch:focus {
    color: #ffffff !important;
    text-decoration: none !important;
    font-weight: 500;
}

.detailFooterLinkEnch:hover {
    color: #143950 !important;
    font-weight: 500;
}

.detailFooterLinkEnch:focus {
    color: #143950 !important;
    font-weight: 500;
}

.detailFooterLinkEnch {
    color: #143950 !important;
    font-weight: 500;
    padding: 0px 0.75rem;
    border-right: 1px solid #d2d2d2;
}

footer.sapMPageFooter {
    background: #051551 !important;
}

.footerDetailToolbarEnch {
    padding: 0px !important;
    height: 7rem !important;
}

.footerBoxWrapper {
    width: 99%;
    margin: 0px !important;
    padding: 0px !important;
}

.footerBoxWrapper .footerTextEnch {
    padding-right: 1rem !important;
}

.selectionClass {
    height: 42px !important;
    border-radius: 4px;
}

.show_Lbl{
    font-family: Helvetica !important;
font-style: normal;
font-weight: normal;
font-size: 14px !important;
line-height: 19px;
color: #212121 !important;
}

.wbInboxPaginationClass {
    /* background: var(--transparent-button-background);*/
    background: #fff;
    border-radius: 3px;
    height: 2.0rem;
}

.headingLabel{
    /* font-weight: bold !important; */
    font-family: Helvetica !important;
    line-height: 1rem;
    font-style: normal;
font-weight: 550 !important;
font-size: 14px !important;
line-height: 17px;
display: flex;
align-items: center;
letter-spacing: 0.001em;
color: #212121 !important;
}

/* .wbUiTableStyles {
    width: 90px;
    width: 9rem !important;
     height: 24px;
    border-radius: 20px !important;
    
}   */

.wbOverflowVertical {
    overflow-y: auto;
    overflow-x: hidden;
}

.wbTableViewPaddingClass {
    padding: 0rem 2rem 0rem 2rem;
    
}
     

.Tile_main{
    outline:none !important;
    width: 160px !important;
    height: 102px !important;
    /* left: 32px; */
    /* top: 180px; */
    background: #FFFFFF;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    /* box-shadow: inset 0px 3px 3px rgb(0 0 0 / 10%); */
    box-shadow: 1px 1px 5px 0px rgba(0, 0.2, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.Tile_main .sapMGTHdrContent {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: transparent;
    height: 21px;
    padding-top: 16px;
}

.Tile_main .sapMGTHdrTxt>.sapMText {
    font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #000000;
}

.Tile_main .sapMGTContent {
    height: 63px !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.Tile_main .sapMTileCnt{
    margin: 0 !important;
    border: 0px !important;
    height: 100% !important;
    border-radius: 0;
}

.Tile_main .sapMTileCntContent {
    margin: 0px !important;
    height: 100%;
}

.Tile_main .sapMImg,.Tile_main .sapMImageContentImageIcon{
    height: 43px;
    width: 43px;
    justify-content: end;
    align-items: end;
    justify-items: end;
    align-content: end;
    right: 18px;
    left: auto;
    top: 0px;
    /* border-radius: 50%; */
}

.Tile_main .sapMTileCntFtrTxt{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    height: 28px !important;
    line-height: 28px;
    color: #002338 !important;
}

.Tile_main .sapMGTSubHdrTxt {
    margin-top: 5px !important;
    height:2px;
    width: 15px;
    border-top: 2px solid #12678C;
}

.Tile_main:hover,.Tile_main:focus{
    background: #F4F4F4;
    border: 1px solid #246094;
box-sizing: border-box;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}

.Card_Cntr{
    margin-left:19px !important;

 }
    
.Card_Cntr.Horizontal .sapMHrdrCntrInner::after {
        border:none !important;
}


.Card_Cntr .sapMHrdrCntrInner{
    border:none !important;
}

.Card_Cntr .sapMHdrCntrBtn>.sapMBtnInner {
    /* padding: 0; */
    border-radius: 50%;
    height: 2rem;
    line-height: 2rem !important;
    width: 2rem;
    align-items: center;
    border: none;
}

.statusIcon{
    border-radius: 50%;
    margin-left: 5.5rem;
    margin-top: 0.5rem;
    padding: 0.1rem;
}


html[dir="rtl"] .wbMainPagePaddingAr div#__page0-main {
    padding-left: 0rem !important;
    padding-right: 13rem !important;
    background-color: #fcebeb;
    
}

/* .actionBox{
    
    
    padding: 0 !important;
    text-align: center;
    border-radius: 20px !important;
    height: 24px !important;
    vertical-align: top;
    font-family: Helvetica !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 10px;
    line-height: 15px;
    text-shadow: none !important;
    display: grid;
    align-items: center;
    letter-spacing: 0.001em;
    color: #404040 !important;
    text-wrap: none;
    border:none !important;
} */

/* .sapMObjStatusInverted .sapMObjStatusWrapper {
    border-radius: 15px;
     border:none;
     padding:5px;
     background-color: #ec823a;
}

.statusBox{
    border-radius: 20px ;
    padding: 5px;
    background-color: #FFE9BE !important;
}
.businessBox{
    border-radius: 20px ;
    padding: 5px;
    background-color: #8e8dbe !important;
} */


.sapMBtnInner{
    border: none;
    color: black;
    background-color: inherit;
}
.sapMBtnIcon{
    color: black;
}
.sapMTableTH{
    background: #E7E7E7
}

/* .businessAction{

    border-radius: 20px ;
    padding: 5px;
    background-color: #e28b26 !important;
}

.fowardAction{
    border-radius: 20px ;
    padding: 5px;
    background-color: #fa6eb4 !important;
} */

.sapMColumnHeader>.sapMLabel, .sapMColumnHeader>.sapMText, .sapMListTblCell>.sapMSlt>.sapMSltLabel, .sapMListTblCell>.sapMObjectNumber, .sapMListTblCell>.sapMLabel, .sapMListTblCell>.sapMText {
    text-align: inherit !important;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
}

/* .wbUiTableStyles .sapUiTableCell {
    border-right: 0rem;
    border-bottom: 0rem;
} */

.sapUiTableCell {
    position: relative;
    box-sizing: border-box;
}
.wbInboxTableButton{

        z-index: 1;
        margin-top: 2.5rem;
        margin-left: 16rem;

}

.wbTransparentButtonStyleClass .sapMBtnInner,
.wbTransparentButtonStyleClass .sapMBtnInner:hover {
    /*  background: var(--transparent-button-background) !important;
    color: var(--primary-color) !important;*/
    border-color: transparent !important;
    border: none !important;
    font-weight: 400;
    border-radius: 3px;
    font-size: 0.7rem;
}
.wbTransparentButtonStyleClass:hover>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi,

.wbTransparentButtonStyleClass:hover:not(.sapMBtnDisabled)>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized) .sapUiIcon{
    color: #002338 !important;
    font-weight:bold !important;
}
.wbTransparentButtonStyleClass .sapMBtnInner:hover,.List_Filter .sapMHeader-CTX .sapMBtnInner{ 
    border:none !important;
    background:transparent !important;
}

.wbTransparentButtonStyleClass.sapMBtn:hover>.sapMBtnHoverable {
    background-color:transparent !important;
    border-color: transparent !important;
    border: none !important;
}

.wbTransparentButtonStyleClass .sapMBtnInner .sapMBtnIcon.sapMImg {
    height: 1rem;
    width: 1rem;
    margin-top: 0.15rem;
}

.wbTransparentButtonStyleClass .sapMBtnBack, .sapMBtnTransparent{
    color: #212121 !important;
}

.wbTransparentButtonStyleClass .sapMBtnIcon {
   /** color: var(--primary-color) !important; */
   color: #212121 !important;
}

.wbInboxIconTabBackground .sapMITBContent {
    padding: 0rem !important;
    position: relative;
    box-shadow: none !important;
    z-index: 0;
}

.wbInboxIconTabBackground .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected .sapMITBText {
    color: var(--secondary-Text-Color);
    font-weight: 600;
}

.wbInboxIconTabBackground .sapMITH.sapMITBInLine .sapMITBHead {
    margin-top: 0;
    margin-left: 2rem !important;
    margin-right: 0;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.wbInboxIconTabBackground .sapMITBInLine.sapMITBTextOnly .sapMITBVertical.sapMITBFilter .sapMITBContentArrow {
    height: .65rem;
}

.wbInboxIconTabBackground .sapMITBItem {
    color: var(--secondary-Text-Color) !important;
}

.wbInboxIconTabBackground .sapMITBSelected .sapMITBContentArrow::after {
    background: var(--primary-color);
}

.wbInboxIconTabBackground .sapMITH {
    box-shadow: none !important;
    height: 1.5rem !important;
    background-color: #fefafa !important;
    z-index: 0 !important;
    margin-left: 2rem;
    margin-right: 0.5rem
    /* margin-left: 0.5rem;
        margin-top: -0.25rem;
    margin-right: 0.5rem; */
}

.wbInboxIconTabBackground .sapMITH .sapMITBHead.sapMITBInLine {
    margin-left: 2rem !important;
    margin-top: 0;
}

.wbInboxIconTabBackground .sapMITH.sapMITBInLine .sapMITBHead {
    margin-top: 0;
    /*margin-left: 2rem !important; */
    /*Gayathri*/
    margin-left: 1rem !important;
}

.wbInboxIconTabBackground .sapMITBInLine.sapMITBTextOnly .sapMITBVertical.sapMITBFilter .sapMITBContentArrow {
    height: .65rem;
}

.wbInboxIconTabBackground .sapMITBItem {
    color: var(--secondary-Text-Color) !important;
}

.wbInboxIconTabBackground .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {
    color: var(--secondary-Text-Color) !important;
    font-weight: 600;
}

.wbInboxIconTabBackground .sapMITBSelected>.sapMITBContentArrow::after {
    background: var(--primary-color);
}

.wbOverflowVertical {
    overflow-y: auto;
    overflow-x: hidden;
}

.wbTableViewPaddingClass {
    padding: 0rem 2rem 0rem 2rem;
    
}

/* .wbUiTableStyles.sapUiTableColHdrCnt {
    background-color: #F2F3F4;
}

.wbUiTableStyles .sapUiTableCell.sapUiTableHeaderCell {
    background-color: #E7E7E7 !important;
}

.wbUiTableStyles.sapUiTableCHdr .sapUiTableColHdrCnt {
    background-color: #E7E7E7 !important;
}

.wbUiTableStyles .sapUiTableCell {
    border-right: 0rem;
    border-bottom: 0rem;
}

.wbUiTableStyles .sapUiTableCnt {
    border-radius: 3px 3px 3px 0px;
}

.wbUiTableStyles .sapUiTableSelectAllCheckBox::after {
    border: none;
    background-color: var(--secondary-background-color);
}

.wbUiTableStyles .sapUiTableColHdrCnt {
    border-bottom: none;
}

.wbUiTableStyles.sapUiTableSelModeMultiToggle .sapUiTableRowSelectionHeaderCell.sapUiTableSelAllVisible .sapUiTableSelectAllCheckBox {
    display: none;
    width: 0rem !important;
}

.wbUiTableStyles.sapUiTableRowSelectors:not(.sapUiTableRowHighlights) .sapUiTableRowSelectionHeaderCell {
    width: 0rem;
    height: 0rem;
}

.wbUiTableStyles .sapUiTableRowSel>.sapUiTableCell {
    border-bottom-color: #e5e5e5 !important;
}

.wbUiTableStyles .sapUiTableContentRow.sapUiTableRowSel {
    background-color: #F3F3F3 !important;
}

.wbUiTableStyles {
    box-shadow: 1px 1px 5px 0px rgba(0, 0.2, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.15);
}

.wbUiTableStyles .sapMObjStatusSuccess .sapMObjStatusText , .taskDetailPage .sapMObjStatusSuccess .sapMObjStatusText{
    background-color: #B5F3C3 !important;
}
.wbUiTableStyles .sapMObjStatusError .sapMObjStatusText , .taskDetailPage .sapMObjStatusError .sapMObjStatusText{
    background-color: #FFC0C0 !important;
}
.wbUiTableStyles .sapMObjStatusInformation .sapMObjStatusText, .taskDetailPage .sapMObjStatusInformation .sapMObjStatusText{
    background-color: #AFCFFF !important;
}
.wbUiTableStyles .sapMObjStatusWarning .sapMObjStatusText, .taskDetailPage .sapMObjStatusWarning .sapMObjStatusText{
    background-color: #FFE9BE !important;
}
.wbUiTableStyles .sapMObjStatusNone .sapMObjStatusText, .taskDetailPage .sapMObjStatusNone .sapMObjStatusText{
   background-color: #E1E1E1 !important;
} */

.headerLabelClass{
    font-family: Helvetica !important;
font-style: normal;
font-weight: normal !important;
font-size: 13px;
line-height: 16px;
color: #404040;
}

.wbInboxFilterContClass {
    height: 0em;
}

.Btn_MUP {
    margin-left: 17px !important;
    width: 175px;
}

.Btn_MUP .sapMBtnInner{
    justify-content: space-evenly;
    width: auto !important;
    height: 27px;
    background: #FFFFFF !important;
    border: 1px solid #254C76 !important;
    box-sizing: border-box;
    border-radius: 60px;
}

.Btn_MUP .sapMFocusable{
    outline: none !important;
}

.Btn_MUP .sapMBtnContent{
    font-family: Helvetica !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 25px !important;
    text-align: center;
    color: #254C76 !important;
}

.Btn_MUP .sapMBtnIcon{
    font-size: 12px !important;
    color: #002338 !important;
    line-height: 1.5rem !important;
}

.Btn_MUP1 .sapMBtnInner {
    justify-content: center !important;
}

.Btn_MUP .sapMBtnInner:hover{
    background:white !important;
    box-shadow: 0 0 0 0px rgb(0 0 0 / 10%), 1px 2px 0px 0px rgb(0 0 0 / 15%);    
    border:1px solid #002338 !important;
}

.Btn_MUP:active .sapMBtnContent,.ClearBtn:active .sapMBtnContent,
.sapMMessageBox .sapMBtnDefault:active .sapMBtnContent,
.BasicBtn:active .sapMBtnContent,
.List_Filter .sapMHeader-CTX .sapMBtnIcon:active{
    font-family:Helvetica !important;
    font-weight: bold !important;
    color: #12678C !important;
}

.List_Filter .sapMHeader-CTX{
    padding:0 !important;
    height: 50px !important;
    left: 0px;
    top: 0px;
    background: #FFFAFA !important;
    border-radius: 10px 10px 0px 0px;
}

.List_Filter .sapMBarPH{
    height: 50px !important;
}

.List_Filter .sapMBarRight {
    height: 100% !important;
}

.List_Filter .sapMBarRight .sapMBtnIcon,.sapMMessageBox .sapMBarRight .sapMBtnIcon{
    color: #404040 !important;
    font-size: 15px !important;
}

.List_Filter .sapMIBar-CTX .sapMTitle,.Label_Temp{
    font-family: Helvetica !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px !important;
    line-height: 16px;
    color: #002338 !important;
}

.List_Filter .sapUiForm .sapUiFormElementLbl>.sapMLabel {
    height: auto;
    font-family: Helvetica !important;
    font-style: normal;
    font-weight: normal;
    font-size: 10px !important;
    line-height: 12px;
    color: #232323 !important;
}

.List_Filter .sapMInputBase {
    width: 100%;
    height: 28px !important;
}

.List_Filter .sapMInputBaseContentWrapper{
    width: 100%;
    height: 28px !important;
    background: #FAFAFA !important;
    border: 1px solid #dbd9d9 !important;
    box-sizing: border-box;
    border-radius: 6px !important;
}

.List_Filter .sapUiFormElementLbl {
    padding-top: 24px !important;
}

.List_Filter .sapMInputBaseInner[placeholder]::-webkit-input-placeholder{
    font-family: Helvetica !important;
    font-style: normal;
font-weight: normal;
font-size: 10px !important;
line-height: 12px;
/* identical to box height */
color: #6B6B6B;
}

.List_Filter .sapUiFormResGrid>div{
    padding-top:0 !important;
    padding-bottom: 0 !important;
}

.List_Filter .sapUiFormContainerTitle>.sapUiFormTitle {
    margin: 0 !important;
}

.List_Filter .sapMFooter-CTX {
    border: none !important;
    padding-top: 10px !important;
    height: 60px !important;
    padding-bottom: 14px !important;
    padding-right: 16px !important;
}
.List_Filter .sapMDialogSection{
    top:0.5rem !important;
}

.List_Filter .sapMDialogFooter{
    height:48px !important;
}

.List_Filter .sapMFeedIn .sapMFeedInContainer {
    width: 100%;
    height: 150px;
}
List_Filter,.sapMMessageBox   {
    border-radius: 10px !important;
}
.List_Filter .sapUiFormElementLbl:first-child {
    padding-top: 10px !important;
}
.List_Filter .sapMFeedIn .sapMInputBaseContentWrapper {
    background: #ffffff !important;
}

.wbHeaderSearchClass .sapMInputBaseInner:hover,
.wbFilterScrollContainer.sapMScrollCont {
    background-color: rgba(var(--root-color), 0.09) !important;
    /*background-color: white !important;*/
    /* padding: 0 0.5rem;*/

}

.wbHeaderSearchClass .sapMInputBaseContentWrapper {
    /** border: none;
    background: #ffffff98;
   border-radius: 0rem !important; */
    width: 232px !important;
    height: 25px;
    background: #FFFFFF;
    border: 0.5px solid #7D7D7D;
    box-sizing: border-box;
    border-radius: 20px;
}

.wbUiTableStyles .sapUiTableCell .sapMObjStatus {
    width: 100px;
    /* width: 9rem !important; */
    height: 24px;
    border-radius: 20px !important;
}

.wbUiTableStyles .sapUiTableCell .sapMObjStatusText{
    /* width: 100px;  */
    /* width: 9rem !important; */
    padding: 0 !important;
    text-align: center;
    border-radius: 20px !important;
    height: 24px !important;
    vertical-align: top;
    font-family: Helvetica !important;
font-style: normal;
font-weight: bold !important;
font-size: 10px;
line-height: 15px;
text-shadow:none !important;
display: grid;
align-items: center;
letter-spacing: 0.001em;
color: #404040 !important;
}

.wbUiTableStyles.sapUiTableColHdrCnt {
    background-color: #F2F3F4;
}

/*Gayathri---*/
.wbUiTableStyles .sapUiTableCell.sapUiTableHeaderCell {
    /*background-color: #7fc3ed;*/
    /**background-color: #EAF2F7 !important; */
    background-color: #E7E7E7 !important;
}

.wbUiTableStyles.sapUiTableCHdr .sapUiTableColHdrCnt {
    /**background-color: #EAF2F7 !important; */
    background-color: #E7E7E7 !important;
}

.wbUiTableStyles .sapUiTableCell {
    border-right: 0rem;
    border-bottom: 0rem;
}

.wbUiTableStyles .sapUiTableCnt {
    border-radius: 3px 3px 3px 0px;
}

.wbUiTableStyles .sapUiTableSelectAllCheckBox::after {
    border: none;
    background-color: var(--secondary-background-color);
}

.wbUiTableStyles .sapUiTableColHdrCnt {
    border-bottom: none;
}

.wbUiTableStyles.sapUiTableSelModeMultiToggle .sapUiTableRowSelectionHeaderCell.sapUiTableSelAllVisible .sapUiTableSelectAllCheckBox {
    display: none;
    width: 0rem !important;
}

.wbUiTableStyles.sapUiTableRowSelectors:not(.sapUiTableRowHighlights) .sapUiTableRowSelectionHeaderCell {
    width: 0rem;
    height: 0rem;
}

.wbUiTableStyles .sapUiTableRowSel>.sapUiTableCell {
    border-bottom-color: #e5e5e5 !important;
}

.wbUiTableStyles .sapUiTableContentRow.sapUiTableRowSel {
    background-color: #F3F3F3 !important;
}

.wbUiTableStyles {
    box-shadow: 1px 1px 5px 0px rgba(0, 0.2, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.15);
}

.wbUiTableStyles .sapMObjStatusSuccess .sapMObjStatusText {
    background-color: #B5F3C3 !important;
}
.wbUiTableStyles .sapMObjStatusError .sapMObjStatusText {
    background-color: #FFC0C0 !important;
}
.wbUiTableStyles .sapMObjStatusInformation .sapMObjStatusText{
    background-color: #AFCFFF !important;
}
.wbUiTableStyles .sapMObjStatusWarning .sapMObjStatusText{
    background-color: #FFE9BE !important;
}
.wbUiTableStyles .sapMObjStatusNone .sapMObjStatusText{
   background-color: #E1E1E1 !important;
}
.sapMObjStatusInverted.sapMObjStatusNone .sapMObjStatusWrapper {
    /* background-color: var(--sapNeutralBackground); */
    border-color: #fff;
}

.toolbar{
margin-top: 60px;
}

.sapMObjStatusInverted.sapMObjStatusSuccess .sapMObjStatusWrapper {
    background-color: #fff;
    border-color: #fff;
}

.wbCustomHeaderLabel {
    font-family: Helvetica !important;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 20px;
    line-height: 24px;
    color: #404040;
}

.sapMObjStatusInverted.sapMObjStatusWarning .sapMObjStatusWrapper {
    background-color: #fff;
    border-color: white;
}

.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusLink:hover>.sapMObjStatusWrapper {
    background-color: #fff;
    border-color: #fff;
}

.wbMargin{
    margin-top:8px;
}


/* for "rejected" action, rendering white color  */
.sapMObjStatusInverted.sapMObjStatusError .sapMObjStatusWrapper {
    background-color: #fff;
    border-color: #fff;
} 

.wbInboxIconTabBackground .sapMITBContent {
    padding: 0rem !important;
    position: relative;
    box-shadow: none !important;
    z-index: 0;
}

.wbInboxIconTabBackground .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected .sapMITBText {
    color: var(--secondary-Text-Color);
    font-weight: 600;
}

.wbInboxIconTabBackground .sapMITH.sapMITBInLine .sapMITBHead {
    margin-top: 0;
    margin-left: 2rem !important;
    margin-right: 0;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.wbInboxIconTabBackground .sapMITBInLine.sapMITBTextOnly .sapMITBVertical.sapMITBFilter .sapMITBContentArrow {
    height: .65rem;
}

.wbInboxIconTabBackground .sapMITBItem {
    color: var(--secondary-Text-Color) !important;
}

.wbInboxIconTabBackground .sapMITBSelected .sapMITBContentArrow::after {
    background: var(--primary-color);
}

.wbInboxIconTabBackground .sapMITH {
    box-shadow: none !important;
    height: 1.5rem !important;
    background-color: #fefafa !important;
    z-index: 0 !important;
    margin-left: 2rem;
    margin-right: 0.5rem
    /* margin-left: 0.5rem;
        margin-top: -0.25rem;
    margin-right: 0.5rem; */
}

.wbInboxIconTabBackground .sapMITH .sapMITBHead.sapMITBInLine {
    margin-left: 2rem !important;
    margin-top: 0;
}

.wbInboxIconTabBackground .sapMITH.sapMITBInLine .sapMITBHead {
    margin-top: 0;
    /*margin-left: 2rem !important; */
    /*Gayathri*/
    margin-left: 1rem !important;
}

.wbInboxIconTabBackground .sapMITBInLine.sapMITBTextOnly .sapMITBVertical.sapMITBFilter .sapMITBContentArrow {
    height: .65rem;
}

.wbInboxIconTabBackground .sapMITBItem {
    color: var(--secondary-Text-Color) !important;
}

.wbInboxIconTabBackground .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected>.sapMITBText {
    color: var(--secondary-Text-Color) !important;
    font-weight: 600;
}

.wbInboxIconTabBackground .sapMITBSelected>.sapMITBContentArrow::after {
    background: var(--primary-color);
}

.buttonStyle .sapMBtnInner,
.buttonStyle .sapMBtnInner:hover {
    /*  background: var(--transparent-button-background) !important;
    color: var(--primary-color) !important;*/
    border-color: transparent !important;
    border: none !important;
    font-weight: 400;
    border-radius: 3px;
    font-size: 1.0rem;
}
.buttonStyle:hover>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi,

.buttonStyle:hover:not(.sapMBtnDisabled)>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized) .sapUiIcon{
    color: #002338 !important;
    font-weight:bold !important;
}
.buttonStyle .sapMBtnInner:hover,.List_Filter .sapMHeader-CTX .sapMBtnInner{ 
    border:none !important;
    background:transparent !important;
}

.buttonStyle.sapMBtn:hover>.sapMBtnHoverable {
    background-color:transparent !important;
    border-color: transparent !important;
    border: none !important;
}

.buttonStyle .sapMBtnInner .sapMBtnIcon.sapMImg {
    height: 1rem;
    width: 1rem;
    margin-top: 0.15rem;
}

.buttonStyle.sapMBtnBack, .sapMBtnTransparent{
    color: #212121 !important;
}

.buttonStyle.sapMBtnIcon {
color:#212121 !important;

}

/* Focus styles */
.buttonStyle:focus {
    outline: none !important;
    box-shadow: none !important;
}


.SltBox{
    width: 91.64px !important;
height: 29.95px !important;

background: #F9F9F9 !important;
border: 1px solid #CDCDCD !important;
box-sizing: border-box;
border-radius: 6px !important;
}

/* .wbInboxSearchButton{
    z-index: -1;
    margin-top: 2.5rem;
    margin-left: 15px;
} */

.wbHeaderSearchClass .sapMInputBaseContentWrapper {
    /** border: none;
    background: #ffffff98;
   border-radius: 0rem !important; */
    width: 232px !important;
    height: 25px;
    background: #FFFFFF;
    border: 0.5px solid #7D7D7D;
    box-sizing: border-box;
    border-radius: 20px;
}

.wbHeaderSearchClass .sapMInputBaseInner:hover,
.wbFilterScrollContainer.sapMScrollCont {
    background-color: rgba(var(--root-color), 0.09) !important;
    /*background-color: white !important;*/
    /* padding: 0 0.5rem;*/

}

.wbAdminCustLabel.sapMLabel {
    font-size: 0.95rem;
    color: black;
}

.wbCustomSwitch.sapMSwtCont .sapMSwt,
.wbCustomSwitch .sapMSwtCont .sapMSwt {
    width: 34px !important;
    height: 16px !important;
}

.wbCustomSwitch .sapMSwtCont,
.wbCustomSwitch.sapMSwtCont {
    width: 2.75rem !important;
}

.wbCustomSwitch .sapMSwtLabel,
.wbSmallerCustomSwitch .sapMSwtLabel {
    display: none !important;
}

.wbCustomSwitch .sapMSwtOff:not(.sapMSwtAcceptReject),
.wbCustomSwitch .sapMSwt.sapMSwtOff:not(.sapMSwtAcceptReject).sapMSwtHoverable:not(.sapMSwtAcceptReject):hover,
.wbSmallerCustomSwitch .sapMSwtOff:not(.sapMSwtAcceptReject),
.wbSmallerCustomSwitch .sapMSwt.sapMSwtOff:not(.sapMSwtAcceptReject).sapMSwtHoverable:not(.sapMSwtAcceptReject):hover {
    background: transparent;
    border: 2px solid;
    border-color: #8D8D8D;
}

.wbCustomSwitch .sapMSwtOn:not(.sapMSwtAcceptReject),
.wbCustomSwitch .sapMSwt.sapMSwtOn:not(.sapMSwtAcceptReject).sapMSwtHoverable:not(.sapMSwtAcceptReject):hover,
.wbSmallerCustomSwitch .sapMSwtOn:not(.sapMSwtAcceptReject),
.wbSmallerCustomSwitch .sapMSwt.sapMSwtOn:not(.sapMSwtAcceptReject).sapMSwtHoverable:not(.sapMSwtAcceptReject):hover {
    background: transparent;
    border: 2px solid;
    border-color: green;
}

.wbCustomSwitch .sapMSwtOff .sapMSwtText,
.wbCustomSwitch .sapMSwtOn .sapMSwtText,
.wbSmallerCustomSwitch .sapMSwtOff .sapMSwtText,
.wbSmallerCustomSwitch .sapMSwtOn .sapMSwtText {
    color: var(--primary-Text-Color);
}

.wbCustomSwitch .sapMSwtOff:not(.sapMSwtAcceptReject) .sapMSwtHandle {
    box-sizing: border-box;
    background: #8D8D8D;
    border: none;
    width: 1.4rem;
    height: 1.4rem;
}

.wbCustomSwitch .sapMSwtOn:not(.sapMSwtAcceptReject) .sapMSwtHandle {
    box-sizing: border-box;
    background: green;
    border: none;
    width: 1.4rem;
    height: 1.4rem;
    left: 1rem !important;
    right: 0.88rem;
}

.wbCustomSwitch .sapMSwt.sapMSwtOff:not(.sapMSwtAcceptReject).sapMSwtHoverable:not(.sapMSwtAcceptReject):hover .sapMSwtHandle,
.wbSmallerCustomSwitch .sapMSwt.sapMSwtOff:not(.sapMSwtAcceptReject).sapMSwtHoverable:not(.sapMSwtAcceptReject):hover .sapMSwtHandle {
    background: #8D8D8D;
    border-color: #8D8D8D;
}

.wbCustomSwitch .sapMSwt.sapMSwtOn:not(.sapMSwtAcceptReject).sapMSwtHoverable:not(.sapMSwtAcceptReject):hover .sapMSwtHandle,
.wbSmallerCustomSwitch .sapMSwt.sapMSwtOn:not(.sapMSwtAcceptReject).sapMSwtHoverable:not(.sapMSwtAcceptReject):hover .sapMSwtHandle {
    background: green;
    border-color: green;
}

.buttonStyle .sapMBtnInner, .buttonStyle .sapMBtnInner:hover {
    border-color: transparent !important;
    border: none !important;
    font-weight: 400;
    border-radius: 3px;
    font-size: 1.0rem;
}

.List_Filter .sapMHeader-CTX{
    padding:0 !important;
    height: 50px !important;
    left: 0px;
    top: 0px;
    background: #FFFAFA !important;
    border-radius: 10px 10px 0px 0px;
}

.List_Filter .sapMBarPH{
    height: 50px !important;
}

.List_Filter .sapMBarRight {
    height: 100% !important;
}

.List_Filter .sapMBarRight .sapMBtnIcon,.sapMMessageBox .sapMBarRight .sapMBtnIcon{
    color: #404040 !important;
    font-size: 15px !important;
}

.List_Filter .sapMIBar-CTX .sapMTitle,.Label_Temp{
    font-family: Helvetica !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px !important;
    line-height: 16px;
    color: #002338 !important;
}

.List_Filter .sapUiForm .sapUiFormElementLbl>.sapMLabel {
    height: auto;
    font-family: Helvetica !important;
    font-style: normal;
    font-weight: normal;
    font-size: 10px !important;
    line-height: 12px;
    color: #232323 !important;
}

.List_Filter .sapMInputBase {
    width: 100%;
    height: 28px !important;
}

.List_Filter .sapMInputBaseContentWrapper{
    width: 100%;
    height: 28px !important;
    background: #FAFAFA !important;
    border: 1px solid #D1D1D1 !important;
    box-sizing: border-box;
    border-radius: 6px !important;
}

.List_Filter .sapUiFormElementLbl {
    padding-top: 24px !important;
}

.List_Filter .sapMInputBaseInner[placeholder]::-webkit-input-placeholder{
    font-family: Helvetica !important;
    font-style: normal;
font-weight: normal;
font-size: 10px !important;
line-height: 12px;
/* identical to box height */
color: #6B6B6B;
}

.List_Filter .sapUiFormResGrid>div{
    padding-top:0 !important;
    padding-bottom: 0 !important;
}

.List_Filter .sapUiFormContainerTitle>.sapUiFormTitle {
    margin: 0 !important;
}

.List_Filter .sapMFooter-CTX {
    border: none !important;
    padding-top: 10px !important;
    height: 60px !important;
    padding-bottom: 14px !important;
    padding-right: 16px !important;
}
.List_Filter .sapMDialogSection{
    top:0.5rem !important;
}

.List_Filter .sapMDialogFooter{
    height:48px !important;
}

.List_Filter .sapMFeedIn .sapMFeedInContainer {
    width: 100%;
    height: 150px;
}
List_Filter,.sapMMessageBox   {
    border-radius: 10px !important;
}
.List_Filter .sapUiFormElementLbl:first-child {
    padding-top: 10px !important;
}
.List_Filter .sapMFeedIn .sapMInputBaseContentWrapper {
    background: #ffffff !important;
}

.List_Filter .sapMPopoverArr{
    display:none !important;
}

.List_Filter .sapMFeedIn .sapMInputBaseContentWrapper {
    background: #ffffff !important;
}

.List_Filter .sapUiFormElementLbl:first-child {
    padding-top: 10px !important;
}

.List_Filter,.sapMMessageBox   {
    border-radius: 10px !important;
}

.List_Filter .sapMDialogTitle{
    line-height: 50px !important;
    height:50px !important;
}

.List_Filter .sapMDialogSection{
    top:0.5rem !important;
}


.List_Filter .sapMDialogFooter{
    height:48px !important;
}

.List_Filter .sapMFeedIn .sapMFeedInContainer {
    width: 100%;
    height: 150px;
}

.List_Filter .sapMDialogTitle{
    line-height: 50px !important;
    height:50px !important;
}

.List_Filter .sapMDialogSection{
    top:0.5rem !important;
}

.List_Filter .sapMDialogFooter{
    height:48px !important;
}

.List_Filter .sapMFeedIn .sapMFeedInContainer {
    width: 100%;
    height: 150px;
}

.List_Filter .sapUiFormResGrid>div{
    padding-top:0 !important;
    padding-bottom: 0 !important;
}

.List_Filter .sapUiFormContainerTitle>.sapUiFormTitle {
    margin: 0 !important;
}

.List_Filter .sapMFooter-CTX {
    border: none !important;
    padding-top: 10px !important;
    height: 60px !important;
    padding-bottom: 14px !important;
    padding-right: 16px !important;
}

.List_Filter .sapMHeader-CTX{
    padding:0 !important;
    height: 50px !important;
    left: 0px;
    top: 0px;
    background: #FFFAFA !important;
    border-radius: 10px 10px 0px 0px;
}

.List_Filter .sapMBarPH{
    height: 50px !important;
}

.List_Filter .sapMBarRight {
    height: 100% !important;
}

.List_Filter .sapMBarRight .sapMBtnIcon,.sapMMessageBox .sapMBarRight .sapMBtnIcon{
    color: #404040 !important;
    font-size: 15px !important;
}

.List_Filter .sapMIBar-CTX .sapMTitle,.Label_Temp{
    font-family: Helvetica !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px !important;
    line-height: 16px;
    color: #002338 !important;
}

.List_Filter .sapUiForm .sapUiFormElementLbl>.sapMLabel {
    height: auto;
    font-family: Helvetica !important;
    font-style: normal;
    font-weight: normal;
    font-size: 10px !important;
    line-height: 12px;
    color: #232323 !important;
}

.List_Filter .sapMInputBase {
    width: 100%;
    height: 28px !important;
}

.List_Filter .sapMInputBaseContentWrapper{
    width: 100%;
    height: 28px !important;
    background: #FAFAFA !important;
    border: 1px solid #D1D1D1 !important;
    box-sizing: border-box;
    border-radius: 6px !important;
}

.List_Filter .sapUiFormElementLbl {
    padding-top: 24px !important;
}

.List_Filter .sapMInputBaseInner[placeholder]::-webkit-input-placeholder{
    font-family: Helvetica !important;
    font-style: normal;
font-weight: normal;
font-size: 10px !important;
line-height: 12px;
/* identical to box height */
color: #6B6B6B !important;
}

.wbDialogTitle {
    color: var(--primary-Text-Color) !important;
    font-size: 0.95rem
}

.wbDialogCloseIcon {
    color: var(--primary-Text-Color);
    font-size: large;
    cursor: pointer;
}

.wbAdminMGroupsSearch .sapMSFF {
    border-radius: 2px;
    background: rgba(var(--root-color), 0.1);
    border: 0.5px solid rgba(var(--root-color), 0.8) !important;
    height: 28px;
}

.wbChatScreenSerchStyles .sapMSFI {
    height: 1.55rem;
}

.wbChatScreenSerchStyles .sapMSFB {
    line-height: 1.6rem;
    height: 1.6rem;
}

.sapMPopup-CTX .sapMIBar.sapMHeader-CTX {
    background-color:#FFFAFA;
    filter: none;
    background-image: none;
}

.sapUiSizeCompact .sapMCbBg {
    height: 1rem;
    width: 1rem;
    top: 0.5rem;
    left: 0.5rem;
}

.sapUiTableSelModeMultiToggle.sapUiTableRowSelectors .sapUiTableRowSelectionCell::after {
    display: flex
;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}


.sapUiSizeCompact .sapMCbBg {
    height: 1rem;
    width: 1rem;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: inherit;
}

.sapMDialog>header:last-of-type .sapMIBar {
    box-shadow: var(--sapContent_HeaderShadow);
    border-radius: 8px;
}

.sapMSFF {
    border-radius: inherit;
}

.sapMTitle {
    position: relative;
    display: inline-block;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: normal;
    color: #1d2d3e;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
    text-shadow: none;
}

.sapMSFB {
    border-radius: .25rem;
    color: #81868b;
}

.wbAdminMGroupsSearch .sapMSFF {
    border-radius: 2px;
    background: rgba(var(--root-color), 0.1);
    border: 0.5px dotted rgba(var(--root-color), 0.8) !important;
    height: 28px;
}

.sapMBtn:hover:not(.sapMBtnDisabled):not(.sapMSBActive)>.sapMBtnHoverable:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnTransparent).sapMBtnDefault .sapUiIcon, .sapMBtn:hover:not(.sapMBtnDisabled):not(.sapMSBActive)>.sapMBtnHoverable:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnTransparent).sapMBtnGhost .sapUiIcon {
    color: #a7aeb7;
}

.sapMBtnInner {
    border: none;
    color: #817a7a;
    background-color: inherit;
}

.sapMBtn:hover:not(.sapMBtnDisabled):not(.sapMSBActive)>.sapMBtnHoverable:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnTransparent).sapMBtnDefault, .sapMBtn:hover:not(.sapMBtnDisabled):not(.sapMSBActive)>.sapMBtnHoverable:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnTransparent).sapMBtnGhost {
    color: #000;
}

.BasicBtn{
    width: 150px !important;
    height: 30px !important;
    margin-bottom: 0.5rem !important;
}

.BasicBtn .sapMBtnInner{
    height: 30px !important;
    background: #FFFFFF !important;
    border: 1px solid #254C76;
    box-sizing: border-box !important;
    border-radius: 60px;
}

.BasicBtn .sapMBtnContent {
    font-family: Helvetica !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 30px !important;
    color: #254C76 !important;
}

.BasicBtn .sapMBtnInner:hover{
    box-shadow: 0 0 0 0px rgb(0 0 0 / 10%), 1px 2px 0px 0px rgb(0 0 0 / 15%);    
    border:1px solid #002338 !important;
}

.wbEmphasizedButtonStyleClass .sapMBtnInner,
.wbEmphasizedButtonStyleClass .sapMBtnInner:hover {
    /* background: var(--primary-color) !important; */
    background: #143950 !important;
    color: var(--primary-Text-Color) !important;
    border-color: transparent !important;
    border-radius: 60px;
}

.wbEmphasizedButtonStyleClass .sapMBtnIcon {
    color: var(--primary-Text-Color) !important;
}

.wbEmphasizedButtonStyleClass.sapMBtn:hover>.sapMBtnHoverable {
    background: #143950 !important;
    border-color: transparent !important;
    color: var(--primary-Text-Color) !important;
    font-weight: bold !important
}

.wbEmphasizedButtonStyleClass .sapMBtn:hover>.sapMBtnEmphasized.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
    color: var(--primary-Text-Color) !important;
    font-weight: bold !important
}
.wbEmphasizedButtonStyleClass .sapMBtnContent {
    color: #F0EFEF !important;
}








